.postMetadata p {
    margin: 10px;
    margin-bottom: 20px;
}

.truncate {
    overflow: hidden;
    display: -webkit-box;
    --line-clamp-post-description: 5;
    -webkit-line-clamp: var(--line-clamp-post-description);
    line-clamp: var(--line-clamp-post-description);
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.date {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0 15px;
    padding-block: 0.5em;
}

.dateText {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0 12.5px;
    height: 1.5em;
    align-content: center;
}
