@import url(../colors.css);
@import url(../content.css);
@import url(../NavBar.module.css);

.postList {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--nav-bar-height));
}

/* Display splitscreen in vertical form on narrow displays */
@media (max-width: 700px) {
    .postList {
        flex-direction: column;
    }
}

.posts {
    background-color: grey;
    z-index: 0;
}

.info {
    --shadow-length-info: 5px;
    --shadow-spread-info: 2px;
    box-shadow:
        /* Two box shadows, one for horizontal layout and one for vertical */
        var(--shadow-length-info) 0 var(--shadow-length-info) var(--shadow-spread-info) black,
        0 var(--shadow-length-info) var(--shadow-length-info) var(--shadow-spread-info) black;
    z-index: 1;
}

.postList>* {
    padding: var(--content-padding);
    flex: 50%;
    overflow-y: auto;
    box-sizing: border-box;
}

.search p {
    margin: 0;
}

.tagMode {
    display: inline-flex;
    gap: 15px;
    padding-inline: 10px;
}

.tagModeSelection {
    display: inline-block;
}

.tagModeSelection label>* {
    display: inline-flex;
    gap: 10px;
}

.tagModeSelection svg {
    padding: 0;
}

.dateSelection {
    display: inline-block;
}
