@import url(../colors.css);

.postInfo {
    background-color: var(--background-color-accent);
    padding: 5px;
    border-radius: 15px;
}

.info h2 {
    padding-right: 15px;
}

.info {
    display: inline-block;
}
