@import url(../colors.css);

button.removeTag {
    border: unset;
    color: unset;
    font-size: unset;
    transition: background-color 200ms ease-in-out;
}

button.removeTag:hover {
    background-color: var(--color-accent-2);
}
