@import url(../colors.css);

.tag {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    overflow: hidden;
    background-color: var(--background-color-accent);
    color: var(--text-color-accent);
    border-radius: 5px;
    border: 2px solid grey;
    margin: 5px;
}

.tag>* {
    padding: 2px 7.5px;
}

.tagName {
    border-left: 2px dotted grey;
    max-width: max-content;
}
