@import url(../colors.css);
@import url(tag.css);

.tag {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    overflow: hidden;
    background-color: var(--background-color-accent);
    color: var(--text-color-accent);
    border-radius: var(--border-radius);
    border: 2px solid grey;
    margin: 5px;
}

.tag>* {
    padding-left: var(--horizontal-pad-tag);
    padding-right: var(--horizontal-pad-tag);
    padding-top: var(--vertical-pad);
    padding-bottom: var(--vertical-pad);
}

.tagName {
    border-left: 2px dotted grey;
    max-width: max-content;
}
