@import url(../colors.css);

.tagIcon {
    background-color: var(--color-accent-0);
    width: auto;
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    border-radius: unset;
}

.tagIcon svg {
    display: block;
    height: 1em;
    width: 1em;
}

.tagIcon:hover {
    cursor: pointer;
}
