@import url(../colors.css);

.tagIcon {
    background-color: var(--background-color-accent);
    transition: background-color 100ms ease-in-out;
    width: auto;
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

.tagIcon svg {
    display: block;
    height: 1em;
    width: 1em;
}

.tagIcon button {
    border: unset;
    color: unset;
    font-size: unset;
}

.tagIcon:hover {
    cursor: pointer;
}
