@import url(../colors.css);

.visitTag {
    /* Remove standard link formatting */
    color: inherit;
    text-decoration: inherit;
}


.visitTag:hover {
    background-color: var(--text-color-link);
}
