.navBar {
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: #16181d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.navLink {
    padding: 10px;
}
