@import url(colors.css);

.navBar {
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: var(--background-color-accent);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;
    box-shadow: 0 0 10px 10px var(--background-color-accent);
}

.navBar > * {
    padding: 10px;
}
