@import url(colors.css);

:root {
    --nav-bar-height: 2.25em;
}

.navBar {
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: var(--background-color-accent);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;
    box-shadow: 0 0 10px 10px var(--background-color-accent);
    height: var(--nav-bar-height);
    z-index: 100;
}

.navBar>* {
    padding: 10px;
}

/* Hide text page names when the screen gets too small */
@media (max-width: 700px) {
    .navBar span {
        display: none;
    }
}
